:root{
    --primary-color: #4CA1AF;
    --secondary-color: #995e06;
    --dark-color: #5982aa;
    --white-color: #f1f3ed;
}

@media (max-width: 991px) {
    #clock1 {
      transform: rotate(180deg);
    }
  }
  

.clock-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
  }
  
  .clock {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 400px;
    border: 10px solid #000;
    border-radius: 5px;
    background-color: #888686;
    font-size: 3em;
    color: #000;
  }
  
  .clock.active {
    background-color: #33cc33;
    color: #fff;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  
  
  button.active {
    background-color: #33cc33;
    color: #fff;
  }
  
  input[type="number"] {
    font-size: 1em;
    padding: 10px;
    margin: 0 10px;
  }
  

body{
    color: var(--dark-color);
}

nav{
    background-color:var(--dark-color);
}

footer{
    background-color:var(--dark-color);
    padding-right: 1rem;
}

h1,h2,h3,h4,h5,h6 {
    color:var(--primary-color);
}

footer .social>a{
    color: var(--white-color);
    opacity: .75;
}

footer .social>a:hover{
    opacity: 0.9;
    color: var(--secondary-color);
}
.bsicon{
    color:purple;
}
.jsicon{
    color:rgb(226,211,4);
}
.html5icon{
    color:orangered;
}
.cssicon{
    color: rgb(11,82,214)
}
.checklist >li i{
    color: var(--secondary-color)
}

code[class*="language-"],
    pre[class*="language-"] {
        white-space: pre-wrap;
        word-break: break-all;
        word-wrap: break-word;
    }

main>.container {
padding: 60px 15px 0;
}


